// place your custom styles here
body {
    @media (min-width: 1440px) {
        font-size: 16px;
    }
}

.none {
    width: 0;
    height: 0;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    display: none;
}

// 隐藏首页的内容区域
.mo7-blog-home {
    .theme-hope-content {
        display: none;
    }
}

// 宽屏补丁
:root {
    --content-width: 830px;
}
@media screen and (min-width: 1770px) {
    :root {
        --content-width: calc(100vw - 15rem - 6rem - var(--sidebar-width) - 20rem);
    }
}

@font-face {
    font-family: "iconfont"; /* Project id 4608718 */
    src:
        url("//at.alicdn.com/t/c/font_4608718_hotbmq64ti.woff2?t=1728107790386") format("woff2"),
        url("//at.alicdn.com/t/c/font_4608718_hotbmq64ti.woff?t=1728107790386") format("woff"),
        url("//at.alicdn.com/t/c/font_4608718_hotbmq64ti.ttf?t=1728107790386") format("truetype"),
        url("//at.alicdn.com/t/c/font_4608718_hotbmq64ti.svg?t=1728107790386#iconfont") format("svg");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
    content: "\e6a5";
}

.icon-ruoyi:before {
    content: "\e645";
}

.icon-design-mode:before {
    content: "\e674";
}

.icon-edit:before {
    content: "\e8d4";
}

.icon-os:before {
    content: "\e637";
}

.icon-linux:before {
    content: "\eccc";
}

.icon-code:before {
    content: "\e669";
}

.icon-MQ:before {
    content: "\e684";
}

.icon-network:before {
    content: "\e74f";
}

.icon-git:before {
    content: "\e72a";
}

.icon-docker:before {
    content: "\ebf8";
}

.icon-operating-system:before {
    content: "\e607";
}

.icon-c:before {
    content: "\e75f";
}

.icon-computer:before {
    content: "\e84f";
}

.icon-minio:before {
    content: "\e670";
}

.icon-tizi:before {
    content: "\e600";
}

.icon-github:before {
    content: "\e885";
}

.icon-text:before {
    content: "\e791";
}

.icon-wechat:before {
    content: "\e868";
}

.icon-label:before {
    content: "\ea51";
}

.icon-books:before {
    content: "\e63d";
}

.icon-database:before {
    content: "\ef91";
}

.icon-server:before {
    content: "\f0ac";
}

.icon-mysql:before {
    content: "\ec6d";
}

.icon-about:before {
    content: "\e687";
}

.icon-template:before {
    content: "\e8ee";
}

.icon-robot:before {
    content: "\e644";
}

.icon-history:before {
    content: "\e6f4";
}

.icon-note:before {
    content: "\e636";
}

.icon-java:before {
    content: "\e614";
}

.icon-coffee:before {
    content: "\e826";
}

.icon-users:before {
    content: "\ea83";
}

.icon-vue:before {
    content: "\e69a";
}

.icon-leetcode:before {
    content: "\ebf2";
}

.icon-rabbitmq:before {
    content: "\ec75";
}

.icon-redis:before {
    content: "\ec7c";
}

.icon-middleware:before {
    content: "\ebee";
}

.icon-spring-boot:before {
    content: "\e601";
}

.icon-offer:before {
    content: "\ead1";
}

.icon-framework:before {
    content: "\e60c";
}

.icon-rpc:before {
    content: "\e6ea";
}

.icon-alibaba:before {
    content: "\e602";
}

.icon-bookshelf:before {
    content: "\e9cd";
}

.icon-spring:before {
    content: "\e603";
}

.icon-house:before {
    content: "\e8ae";
}

.icon-book:before {
    content: "\e604";
}

.icon-user:before {
    content: "\e605";
}

.icon-spring-cloud:before {
    content: "\e606";
}

.icon-nacos:before {
    content: "\e61b";
}
